.contact{
    font-family: 'myfont';
    font-size: 9em;
    animation: fade 2s ease;
    animation-timeline:view() ;
    animation-range: entry 0;
}
.h3{
    animation: fade 2s ease;
    animation-timeline:view() ;
    animation-range: entry 0;
}
.linee1{
 width: 100%;
 height: 100%;
 border: 1px solid  #777777;
 position: relative;
 top: 60px;
 color: #777777;
}
.linee2{
    width: 100%;
    height: 100%;
    border: 1px solid  #777777;
    position: relative;
    bottom: 60px;
}
.last {
    display: flex;
    /* justify-content: space-around; */
    
    white-space: nowrap;
    width: 100%; /* Adjust as needed */
    box-sizing: border-box;
    animation: scroll 10s linear infinite;
    transition: 2s;
    height: 70%;
}
.lastc{
    font-size: 8em;
    font-family: 'myfont';

}

/* .lastd {
    display: inline-block;
    padding-left: 100%; /* Adjust this value based on the text length 
    animation: scroll 20s linear infinite;
    font-size: 8em;
    font-family: 'myfont';}   */
.last:hover{
color: red;
}
.last:hover{

    color: red;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-250%); }
  }

.social-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;

}
.social-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.social-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Default color for Twitter */
    color: white;
    font-size: 1.5em;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-button:hover {
    transform: scale(1.1);
}

.twitter { background-color:white; } /* Twitter Blue */
.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
} /* Instagram Gradient */
.github { background-color: #333; } /* GitHub Black */
.linkedin { background-color: #0077B5; } /* LinkedIn Blue */

.icon{
    width: 65px;
    height: 65px;
}
